<% @vote = Vote.where('user_id=?', current_user.id).where('answer_id=?', answer.id)[0] if current_user %>
<div class='d-flex flex-column justify-content-center'>
  <% if logged_in? && @vote.nil? %>
      <%= link_to '<i class="fas fa-sort-up text-gray-dark"></i>'.html_safe, question_answer_votes_path(answer.question, answer, {vote: {value: 1, user_id: current_user, answer_id: answer.id}}), method: :answer %>
      <span class='text-gray-dark'><%= answer.score %></span>
      <%= link_to '<i class="fas fa-sort-down text-gray-dark"></i>'.html_safe, question_answer_votes_path(answer.question, answer, {vote: {value: -1, user_id: current_user, answer_id: answer.id}}), method: :answer %>
  <% elsif logged_in? && @vote.value == 1 %>
    <i class="fas fa-sort-up text-light"></i>
    <span class='text-success'><%= answer.score %></span>
    <%= link_to '<i class="fas fa-sort-down text-gray-dark"></i>'.html_safe, question_answer_vote_path(answer.question,answer,@vote), method: :delete %>
  <% elsif logged_in? && @vote.value == -1 %>
    <%= link_to '<i class="fas fa-sort-up text-gray-dark"></i>'.html_safe, question_answer_vote_path(answer.question,answer,@vote), method: :delete %>
    <span class='text-danger'><%= answer.score %></span>
    <i class="fas fa-sort-down text-light"></i>  
  <% else %>
    
    <span class='text-gray-dark'><%= answer.score %></span>

  <% end %>
</div>