<%= render 'header' %>

<div class='container'>
  <h1>Questions</h1>

  <% if notice %>
    <p><%= notice %></p>
  <% end %>

  <div>
    <%= render 'question_list', questions: @questions %>
  </div>

  
  <%= page_entries_info @questions %>

  <div class='td-flex justify-content-center '>
  <Br>
  <%= paginate @questions %>
  <br>
  </div>
</div>
<br>


